name: CI/CD lab

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test_ubuntu:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.12 ]
    steps:
      - uses: actions/checkout@v3
      - name: Starting Python 3
        uses: actions/setup-python@v3
        with:
          python-version: ${{matrix.python-version}}
          architecture: "x64"
      - name: Run tests
        run: python unittests/test.py
  test_windows:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: [ 3.12 ]
    steps:
      - uses: actions/checkout@v3
      - name: Starting Python 3
        uses: actions/setup-python@v3
        with:
          python-version: ${{matrix.python-version}}
          architecture: "x64"
      - name: Run tests
        run: python unittests/test.py