name: Runing Unittests

on:
  push:

jobs:
  build-linux:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Test with unittest
      run: |
        python -m unittest tests.circle_test.py
        python -m unittest tests.square_test.py
        python -m unittest tests.triangle_test.py
        python -m unittest tests.rectangle_test.py
        
  build-windows:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    - name: Test with unittest
      run: |
        python -m unittest tests.circle_test.py
        python -m unittest tests.square_test.py
        python -m unittest tests.triangle_test.py
        python -m unittest tests.rectangle_test.py
