# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push

jobs:
  UbunthuTest:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Test
      run: |
        python -m unittest circle.py 
        python.exe -m unittest triangle.py
        python -m unittest square.py
        python -m unittest rectangle.py
        
  WindowsTest:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Test
      run: |
        python.exe -m unittest circle.py
        python.exe -m unittest triangle.py
        python.exe -m unittest square.py
        python.exe -m unittest rectangle.py

